// Colors
$primary: #C3F138;
$secondary: #004238;
$text-color: #031819;
$grey: #F9F9F9;

// Font weights
$regular: 500;
$bold: 600;
$bolder: 700;

// Breakpoints
$mobileInPx: 450px;
$tabletInPx: 768px;