@import 'variables';

/**
* General 
**/
form#form {
    margin: 0;
}

#main-content {
    max-width: 810px;
}

div#initial-error-message {
    color: $error;
    font-size: 5em; /*test*/
}

/**
* General: to remove some flatsome default css 
**/
input{
    margin-bottom: unset;
}
input[type=text]{
    border: unset;
    box-shadow: unset;
    font-size: unset;
    height: unset;
}

select {
    margin-bottom: unset;
}

p {
    font-size: 20px;
    margin-block-start: unset;
    margin-block-end: unset;
}

/**
* Widget
**/

//divider
hr {
    margin:30px auto;
    width:75%;
    background-color: #E8EDED;
}

//modal popup
div#modal {
  display: none;
  position: fixed;
  top: 0; left: 0; 
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 9999;
}

div#modal-content {
  background: rgb(255, 255, 255);
  margin: 10% auto;
  padding: 20px;
  width: 45vw;
  position: relative;
}

.close {
  position: absolute;
  top: 5px; right: 10px;
  cursor: pointer;
}

//tooltip
div.tooltip {
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
    margin-bottom: 5px;

    a {
        position: relative;
        padding-right: 15px;

        &:before {
            content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 8.375H6.375V5.5H5.625V8.375ZM6 4.64425C6.11442 4.64425 6.21033 4.60554 6.28775 4.52813C6.36517 4.45071 6.40388 4.35479 6.40388 4.24037C6.40388 4.12596 6.36517 4.03004 6.28775 3.95263C6.21033 3.87529 6.11442 3.83662 6 3.83662C5.88558 3.83662 5.78967 3.87529 5.71225 3.95263C5.63483 4.03004 5.59613 4.12596 5.59613 4.24037C5.59613 4.35479 5.63483 4.45071 5.71225 4.52813C5.78967 4.60554 5.88558 4.64425 6 4.64425ZM6.00088 10.75C5.34388 10.75 4.72633 10.6253 4.14825 10.376C3.57017 10.1267 3.06733 9.78829 2.63975 9.36088C2.21217 8.93346 1.87362 8.43083 1.62412 7.853C1.37471 7.27517 1.25 6.65779 1.25 6.00088C1.25 5.34388 1.37467 4.72633 1.624 4.14825C1.87333 3.57017 2.21171 3.06733 2.63913 2.63975C3.06654 2.21217 3.56917 1.87362 4.147 1.62412C4.72483 1.37471 5.34221 1.25 5.99912 1.25C6.65613 1.25 7.27367 1.37467 7.85175 1.624C8.42983 1.87333 8.93267 2.21171 9.36025 2.63913C9.78783 3.06654 10.1264 3.56917 10.3759 4.147C10.6253 4.72483 10.75 5.34221 10.75 5.99912C10.75 6.65613 10.6253 7.27367 10.376 7.85175C10.1267 8.42983 9.78829 8.93267 9.36088 9.36025C8.93346 9.78783 8.43083 10.1264 7.853 10.3759C7.27517 10.6253 6.65779 10.75 6.00088 10.75ZM6 10C7.11667 10 8.0625 9.6125 8.8375 8.8375C9.6125 8.0625 10 7.11667 10 6C10 4.88333 9.6125 3.9375 8.8375 3.1625C8.0625 2.3875 7.11667 2 6 2C4.88333 2 3.9375 2.3875 3.1625 3.1625C2.3875 3.9375 2 4.88333 2 6C2 7.11667 2.3875 8.0625 3.1625 8.8375C3.9375 9.6125 4.88333 10 6 10Z' fill='%23031819'/%3E%3C/svg%3E%0A");
            position: absolute;
            top: 2px;
            right: 0;
        }
    }
}

div.tooltip-wrapper {
    display: flex;
    justify-content: flex-end;

    a {
        position: relative;
        padding-left: 15px;
        font-size: 10px;

        &:before {
            content: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.625 8.375H6.375V5.5H5.625V8.375ZM6 4.64425C6.11442 4.64425 6.21033 4.60554 6.28775 4.52813C6.36517 4.45071 6.40388 4.35479 6.40388 4.24037C6.40388 4.12596 6.36517 4.03004 6.28775 3.95263C6.21033 3.87529 6.11442 3.83662 6 3.83662C5.88558 3.83662 5.78967 3.87529 5.71225 3.95263C5.63483 4.03004 5.59613 4.12596 5.59613 4.24037C5.59613 4.35479 5.63483 4.45071 5.71225 4.52813C5.78967 4.60554 5.88558 4.64425 6 4.64425ZM6.00088 10.75C5.34388 10.75 4.72633 10.6253 4.14825 10.376C3.57017 10.1267 3.06733 9.78829 2.63975 9.36088C2.21217 8.93346 1.87362 8.43083 1.62412 7.853C1.37471 7.27517 1.25 6.65779 1.25 6.00088C1.25 5.34388 1.37467 4.72633 1.624 4.14825C1.87333 3.57017 2.21171 3.06733 2.63913 2.63975C3.06654 2.21217 3.56917 1.87362 4.147 1.62412C4.72483 1.37471 5.34221 1.25 5.99912 1.25C6.65613 1.25 7.27367 1.37467 7.85175 1.624C8.42983 1.87333 8.93267 2.21171 9.36025 2.63913C9.78783 3.06654 10.1264 3.56917 10.3759 4.147C10.6253 4.72483 10.75 5.34221 10.75 5.99912C10.75 6.65613 10.6253 7.27367 10.376 7.85175C10.1267 8.42983 9.78829 8.93267 9.36088 9.36025C8.93346 9.78783 8.43083 10.1264 7.853 10.3759C7.27517 10.6253 6.65779 10.75 6.00088 10.75ZM6 10C7.11667 10 8.0625 9.6125 8.8375 8.8375C9.6125 8.0625 10 7.11667 10 6C10 4.88333 9.6125 3.9375 8.8375 3.1625C8.0625 2.3875 7.11667 2 6 2C4.88333 2 3.9375 2.3875 3.1625 3.1625C2.3875 3.9375 2 4.88333 2 6C2 7.11667 2.3875 8.0625 3.1625 8.8375C3.9375 9.6125 4.88333 10 6 10Z' fill='%23031819'/%3E%3C/svg%3E%0A");
            position: absolute;
            top: 1px;
            left: 0;
        }
    }
}

// loading icon

  #loadingModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: rgba(145, 145, 145, 0.568); /* semi-transparent black */
    justify-content: center;
    align-items: center;
    z-index: 9999; /* high z-index */
    pointer-events: all; /* capture all events */
  }

  /* Spinner styling */
  .spinner {
    border: 8px solid #004238; 
    border-top: 8px solid #C3F138; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }

  /* Spinner animation */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

// switch-radio btns
.radio-choice {
    background-color: $grey;
    padding: 5px 10px;
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 20px;

    &:hover {
        cursor: pointer;
    }

    label {
        font-weight: 400;
        margin: 0;
    }

    input[type=radio] {
        margin: 0;
        appearance: none;
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        border: 1px solid #E8EDED;
        border-radius: 50%;
        background-color: white;
        margin-right: 12px;

        &:before {
            height: 16px;
        }
        &:checked {
            content: url("data:image/svg+xml,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.3793 8.33771L1.67883 5.63756L2.42245 4.89403L4.3793 6.85065L8.58224 2.64819L9.32586 3.39172L4.3793 8.33771Z' fill='%23004238'/%3E%3C/svg%3E%0A");
            background-color: $primary;
            padding: 2px;
        }
    }
}

.switch-field{
    display: flex;
    background-color: $grey;
    border-radius: 50px;
    border: 1px solid $dark-grey;

    input {
        position: absolute !important;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        width: 1px;
        border: 0;
        overflow: hidden;
    }
    label {
        background-color: $grey;
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        line-height: 1;
        text-align: center;
        padding: 10px 25px;
        margin-bottom: 0;
        transition: all 0.1s ease-in-out;

        @media only screen and (max-width: 468px) {
            font-size: 10px;
            padding: 5px 10px;
            min-width: 70px;
        }
    }
    label:first-of-type {
        border-radius: 50px 0 0 50px;
    }
    label:last-of-type {
        border-radius: 0 50px 50px 0;
    }
    label:hover {
        cursor: pointer;
    }
}

.switch-field-container {
    padding-bottom: 0;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    align-items: center;
    width: min-content;
    justify-self: flex-end;

    input[type="radio"]:checked + label {
        background-color: $primary;
        box-shadow: none;
    }
}

.switch-field-container-contri-analysis {
    display: flex;
    justify-content: right;
    @media only screen and (max-width: 468px) {
        justify-content: flex-end;
    }

    input[type="radio"]:checked + label {
        background-color: $secondary;
        color: white;
    }

    label{
        font-size: 12px;
        @media only screen and (max-width: 468px) {
            font-size: 10px;
        }
    }
}

#basic-choice:checked + label {
    background-color: $secondary;
    color: white;
}

//select
.unit-select-wrapper {
    display: flex;
    gap: 10px;
    justify-self: end;
    align-items: center;
    position: relative;
}

label.select > select:not(.unit){
    position: relative;
    height: 1.5em;
    line-height: normal;
    -webkit-appearance: none;
    box-shadow: 0 1px 3px -2px #9098A9;
    font-family: inherit; font-size: 18px; font-weight: 400;
    cursor: pointer;
    transition: all 150ms ease;
    padding: 0px 10px;
    border: 1px solid black; border-radius: 50px;
    color: black;
    
    &[class^="year"],&[class^="database-version"]{
        min-width: 5em;
    }

    &:focus {
        outline: none;
        box-shadow: none;
    }    
}

label.select > select.unit{
    font-size: 14px;
    height: 3em;
    min-width: 2em;
    border-bottom: 1px solid black;
    cursor: pointer;
    line-height: normal;
}

label.select > select.climatemetric{
    width: 6em;
}

option {
    color: #223254;

    &[value=""][disabled] {
        display: none;
    }
}
div.arrow-wrapper{
    position: relative;
}
svg.select-arrow {
    position: absolute;
    right: 20px;
    top: calc(50% - 8px);
    pointer-events: none;
    z-index:900;
}

input[type=text].quantity{
    width: 5.5em; height: 0.8em;
    font-size: 0.5em;
    padding: unset;
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
}

.select-wrapper {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;

    @media only screen and (max-width: 468px) {
        flex-direction: column;

        > * {
            flex-basis: 100%;
            max-width: 100%;

            &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }
}

input[name="search"] {
    border-radius: 50px;
    font-size: 30px;
    background-color: $dark-grey;
    margin-bottom: 0;
    height: 100px;
    padding: 0 30px;
    position: relative;

    &:focus {
        background-color: white;
        box-shadow: none;
    }

    @media only screen and (max-width: 468px) {
        font-size: 15px;
        height: 45px;
        padding: 0 15px;
    }
}

.highlight {
    background-color: #f0f0f0;
    color: #333;
}

/**
* Section co2-form 
**/

#form-container{
    display: flex;
    justify-content: space-between;
}

#switch-field-wrapper {
    display: flex;
}

#footprint-type {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    @media only screen and (max-width: 468px) {
        flex-direction: column;
    }
}

/**
* Section most-popular
**/
#most-popular {
    display: flex;
    align-items: center;

    @media only screen and (max-width: 468px) {
        flex-direction: column;
        ul {
            margin-top: 15px;
        }
    }

    > * {
        margin-bottom: 0;
        display: flex;
        flex-wrap: nowrap;
        max-width: 20%;

        @media only screen and (max-width: 468px) {
            flex-wrap: wrap;
            max-width: 100%;
        }
    }
    
    ul {
        gap: 0.5em;
    }

    ul li {
        display: flex;
        gap: 10px;
        list-style: none;
        margin: 0;

        button {
            padding: 0px 20px;
            border-radius: 50px;
            border: 1px solid black;
            color: black;
            margin: 0;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            line-clamp: 1; 
            -webkit-box-orient: vertical;

            @media only screen and (max-width: 468px) {
                font-size: 10px;
                padding: 0px 10px;
            }
        }

        &:first-of-type {
            margin-left: 10px;

            @media only screen and (max-width: 468px) {
                margin-left: 0;
            }
        }
    }
}

/**
* Section tile wrapper
**/

#analysis-wrapper{
    display: flex;
    flex-direction: column;
}

/**
* Section tile
**/

div.tile {
    padding: 30px 20px;
    background-color: $grey;
    border-radius: 50px;
    text-align: left;
    box-shadow: 0 4px 11px -1px rgba(0, 0, 0, 0.1);

    @media only screen and (max-width: 468px) {
        padding: 20px 15px;
    }

    p.big-font {
        font-size: 25px;
        color: $secondary;
        margin: 30px 0;
    }
}

.product {
    &-parameters {
        margin-bottom: 30px;
        display: flex;
        gap: 0px 5px;
        flex-wrap: wrap;
        width: 85%;
        & > label.select{
            width: clamp(3em, 50%, 10em);
        }
    }

    &-result {
        font-size: 60px;
        line-height: 70px;
        color: $secondary;
        font-weight: 600;
        margin-top: 15px;
        text-align: end;

        &-unit {
            font-size: 20px;
        }
    }
}

span.tag  {
    border-style: solid;
    border-width:thin;
    font-size: 12px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 50px;
}

span.co2-value {
    font-size: 60px;
}

//top right corner elements
.tile-corner{
    position: absolute;
    right:3%;

}

span.adt-close {
    background-color: $secondary;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    justify-self: end;
    align-items: center;
    margin-right: 1.5em;
    margin-top: -0.5em;
    margin-bottom: 1em;
    z-index: 800;

    &::before {
        content: url("data:image/svg+xml,%3Csvg width='14px' height='14px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 12H20M12 4V20' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        height: 23px;
        rotate: 45deg;
    }

    &:hover {
        cursor: pointer;
    }
}

//btm right corner elements
.result-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/**
* Section tabs
**/

#person-tab {
    margin-top: 15px;
}

#product-tab {
    margin: 20px 0;
    position: relative;

    button {
        position: absolute;
        right: 15px;
        height: 100px;
        margin: 0;

        svg {
            display: flex;

            @media only screen and (max-width: 468px) {
                height: 26px;
                width: 26px;
            }
        }

        @media only screen and (max-width: 468px) {
            height: 45px;
            right: 0;
        }
    }
}

/**
* Section search buttons
**/

#search-btns > button{
    padding: 0px 20px;
    border-radius: 50px;
    border: 1px solid black;
    color: black;
}

/**
* Section suggestions
**/

#suggestions-wrapper {
    border: 1px solid #ccc;
    position: absolute;
    background-color: #fff;
    width: 100%;
    text-align: left;
    border-top: none;
    z-index: 900;
    border-radius: 0 0 50px 50px;
    overflow-y: auto;
    height:25em;
    max-height:40vh;
    
    @media only screen and (max-width: 468px) {
        border-radius: 0 0 22.5px 22.5px;
    }
}

.suggestion-item {
    cursor: pointer;
    padding: 10px 30px;
    font-size: 1em;

    @media only screen and (max-width: 468px) {
        font-size: 15px;
        padding: 5px 20px;
    }

    &:hover {
        background-color: #f0f0f0;
    }
}

/**
* Section co2-form-result
**/
#co2-form-result {
    display: none; // unfold section animation
}

#add-btn{
    text-align: unset;
    padding: 2em 7em;
}

#co2-form-result-header {
    background-color: $grey;
    padding: 30px 20px;
    border-radius: 50px;
    margin-bottom: 20px;

    .col {
        padding-bottom: 0;
    }
    
    h3 {
        font-size: 30px;
        color: $secondary;
        text-align: left;
        font-weight: 400;
    }
}

/**
* Section Uncertainty
**/

#uncertainty-bar {
    height: 30px;
    width: 100%;
    background-color: #ffffff;
    border: 1px solid $dark-grey;
    border-radius: 99px;
}

#uncertainty-bar-background {
    background-color: $primary;
    width: 0%;
    height: 100%;
    border-radius: 99px;
    transition: width 0.3s ease-in-out;
    position: relative;

    &:after {
        content: attr(data-uncertainty, '0%');
        position: absolute;
        right: 10px;
    }
}

/**
* Section contri-analysis table
**/

.contribution-analysis { 
    flex-direction: column;
}

div.calculation-wrapper {
    flex: 1 1 50%;

    display:grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1.5fr 1fr;

    &:nth-child(2) {
        justify-items: flex-end;

        @media only screen and (max-width: 468px) {
            display: flex;
            flex-direction: row;
            justify-items: flex-start;
            align-items: flex-end;
        }
    }
}

.emissions-table {
    font-size: 12px;

    @media only screen and (min-width: 468px) {
        font-size: 15px;
    }

    tr {
        border-bottom: 1px solid #ececec;
    }

    th, td {
        text-transform: inherit;
        text-align: center;

        &:first-child {
            text-align: left;
            max-width: 300px;

            @media only screen and (max-width: 468px) {
                width: 35%;
            }
        }

        a {
            text-decoration: underline;
        }

        span {
            display: block;
            font-weight: 400;
        }
    }

    td.input-flow > span {
        display: inline-block;
        margin-left: 5px;
    }

    &-header-input:hover, &-header-emissions:hover {
        cursor: pointer;
    }
}

.link{
    text-decoration: underline;
    cursor: pointer;
}

/**
* Section Error
**/

.error-message, .error-message-content-decorator{
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
    color: $error;
    font-size: 15px;
}

.error-message-content-decorator::before{
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.25 16.75H12.75V11H11.25V16.75ZM12 9.2885C12.2288 9.2885 12.4207 9.21108 12.5755 9.05625C12.7303 8.90142 12.8077 8.70958 12.8077 8.48075C12.8077 8.25192 12.7303 8.06008 12.5755 7.90525C12.4207 7.75058 12.2288 7.67325 12 7.67325C11.7712 7.67325 11.5793 7.75058 11.4245 7.90525C11.2697 8.06008 11.1923 8.25192 11.1923 8.48075C11.1923 8.70958 11.2697 8.90142 11.4245 9.05625C11.5793 9.21108 11.7712 9.2885 12 9.2885ZM12.0017 21.5C10.6877 21.5 9.45267 21.2507 8.2965 20.752C7.14033 20.2533 6.13467 19.5766 5.2795 18.7218C4.42433 17.8669 3.74725 16.8617 3.24825 15.706C2.74942 14.5503 2.5 13.3156 2.5 12.0017C2.5 10.6877 2.74933 9.45267 3.248 8.2965C3.74667 7.14033 4.42342 6.13467 5.27825 5.2795C6.13308 4.42433 7.13833 3.74725 8.294 3.24825C9.44967 2.74942 10.6844 2.5 11.9983 2.5C13.3123 2.5 14.5473 2.74933 15.7035 3.248C16.8597 3.74667 17.8653 4.42342 18.7205 5.27825C19.5757 6.13308 20.2528 7.13833 20.7518 8.294C21.2506 9.44967 21.5 10.6844 21.5 11.9983C21.5 13.3123 21.2507 14.5473 20.752 15.7035C20.2533 16.8597 19.5766 17.8653 18.7218 18.7205C17.8669 19.5757 16.8617 20.2528 15.706 20.7518C14.5503 21.2506 13.3156 21.5 12.0017 21.5ZM12 20C14.2333 20 16.125 19.225 17.675 17.675C19.225 16.125 20 14.2333 20 12C20 9.76667 19.225 7.875 17.675 6.325C16.125 4.775 14.2333 4 12 4C9.76667 4 7.875 4.775 6.325 6.325C4.775 7.875 4 9.76667 4 12C4 14.2333 4.775 16.125 6.325 17.675C7.875 19.225 9.76667 20 12 20Z' fill='%23CC3300'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 0px;
    left: 0px;
}

/**
* Section History
**/
#search-history {
    padding: 0px 0;
    margin: 0 30px;
    border-top: 1px solid $dark-grey;
    max-height:5em;
    
    @media only screen and (max-width: 468px) {
        margin: 0 15px;
    }   

    p {
        display: flex;
        align-items: center;
        font-size:1em;

        &:before {
            content: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.1835 15.1498L15.1497 14.1837L11.6875 10.7214V6.41675H10.3125V11.2785L14.1835 15.1498ZM11.0016 19.7084C9.79706 19.7084 8.6649 19.4799 7.60508 19.0227C6.54526 18.5656 5.6234 17.9453 4.8395 17.1617C4.0556 16.3781 3.43494 15.4566 2.97752 14.3972C2.52026 13.3379 2.29163 12.206 2.29163 11.0017C2.29163 9.79719 2.52018 8.66503 2.97729 7.60521C3.4344 6.54539 4.05476 5.62353 4.83836 4.83962C5.62195 4.05572 6.54343 3.43506 7.60279 2.97764C8.66215 2.52038 9.79401 2.29175 10.9984 2.29175C12.2029 2.29175 13.335 2.5203 14.3948 2.97741C15.4547 3.43453 16.3765 4.05488 17.1604 4.83848C17.9443 5.62207 18.565 6.54355 19.0224 7.60291C19.4797 8.66228 19.7083 9.79413 19.7083 10.9985C19.7083 12.203 19.4797 13.3351 19.0226 14.395C18.5655 15.4548 17.9452 16.3766 17.1616 17.1605C16.378 17.9444 15.4565 18.5651 14.3971 19.0225C13.3378 19.4798 12.2059 19.7084 11.0016 19.7084ZM11 18.3334C13.0319 18.3334 14.7621 17.6192 16.1906 16.1907C17.6191 14.7622 18.3333 13.032 18.3333 11.0001C18.3333 8.96814 17.6191 7.23793 16.1906 5.80946C14.7621 4.38098 13.0319 3.66675 11 3.66675C8.96801 3.66675 7.23781 4.38098 5.80933 5.80946C4.38086 7.23793 3.66663 8.96814 3.66663 11.0001C3.66663 13.032 4.38086 14.7622 5.80933 16.1907C7.23781 17.6192 8.96801 18.3334 11 18.3334Z' fill='%23004238'/%3E%3C/svg%3E%0A");
            height: 22px;
            width: 22px;
            margin-right: 5px;
        }
    }

    .remove {
        z-index: 2;
        width: 20px;
        height: 20px;

        &:before {
            content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.33333 15.5449L4.4552 14.6668L9.12187 10.0001L4.4552 5.33345L5.33333 4.45532L9.99999 9.12199L14.6667 4.45532L15.5448 5.33345L10.8781 10.0001L15.5448 14.6668L14.6667 15.5449L9.99999 10.8782L5.33333 15.5449Z' fill='%23004238'/%3E%3C/svg%3E%0A");
            width: 20px;
            height: 20px;
        }
    }

}

#search-history-list {
    display: flex;
    gap: 10px;

    @media screen and (max-width: 468px) {
        overflow-x: scroll;
        margin: 0;
    }

    .button {
        display: flex;
        display: inline-block; /* Ensure it behaves properly */
        align-items: center;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        min-width: 20%;
        max-width: 25%;
        text-align: left;
        text-overflow: ellipsis;

        .remove {
            position: absolute;
            right: 5px;
            top: 8px;
        }

        @media only screen and (max-width: 468px) {
            margin: 0 5px 0 0;
            font-size: 10px;
        }

        &.is-outline {
            border: 1px solid $secondary;
        }

        &:hover {
            background-color: inherit;
            color: inherit;
            border-color: inherit;
        }
    }
}

/**
* Other
**/

.download {
    margin: 0 0 0 auto;
    & > a{
        background-color: $dark-grey;
        color: $text-color;
        border: none;
    }
}

.icon-dribbble:before {
    content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 15.577L8.4615 12.0385L9.16925 11.3192L11.5 13.65V5H12.5V13.65L14.8307 11.3192L15.5385 12.0385L12 15.577ZM6.6155 19C6.15517 19 5.77083 18.8458 5.4625 18.5375C5.15417 18.2292 5 17.8448 5 17.3845V14.9615H6V17.3845C6 17.5385 6.06408 17.6796 6.19225 17.8077C6.32042 17.9359 6.4615 18 6.6155 18H17.3845C17.5385 18 17.6796 17.9359 17.8077 17.8077C17.9359 17.6796 18 17.5385 18 17.3845V14.9615H19V17.3845C19 17.8448 18.8458 18.2292 18.5375 18.5375C18.2292 18.8458 17.8448 19 17.3845 19H6.6155Z' fill='%23031819'/%3E%3C/svg%3E%0A");
}

.icon-angle-left:before {
    content: url("data:image/svg+xml,%3Csvg width='9' height='10' viewBox='0 0 9 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.32578 5.29163L4.94594 8.67044L4.5 9.08329L0.125 4.99996L4.5 0.916626L4.94594 1.32948L1.32578 4.70829H8.875V5.29163H1.32578Z' fill='%23031819'/%3E%3C/svg%3E%0A");
}


.share-icon {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3px;
    margin: 0 15px;

    &:hover {
        cursor: pointer;
    }

    p {
        font-size: 12px;
    }

    svg {
        height: 15px;
        width: 15px;
    }
}

#shared-search-box {
    position: fixed;
    height: 100svh;
    top: 0;
    left: 0;
    z-index: 99;

    .background {
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255, .75);
    }

    .shared-search-box-wrapper {
        padding: 25px 0 25px 25px;
        max-width: 320px;
        display: flex;
        position: fixed;
        left: calc(50% - 160px);
        top: 50%;
        background: #F9F9F9;

        > * {
            margin: 0;
        }

        button#copy-search {
            display: flex;
            align-items: center;
        }

        &:after {
            content: "";
            color: $secondary;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
    }
}
