@import 'variables';

#main, #wrapper {
    background-color: #ffffff;    
}

.issues-search {
    display: flex;
    gap: 5px;

    input {
        padding: 10px;
        border: 1px solid #E8EDED;
        border-radius: 10px;
        background-color: #F9F9F9;
        box-shadow: none;
        color: #031819;

        &:focus {
            outline: none;
            box-shadow: none;
            background-color: #F9F9F9;
        }

        &::placeholder {
            color: #031819;
            opacity: 0.33;
        }
    }

    #search {
        width: 55%;
        flex-basis: 55%;
    }

    #labels,
    #milestones,
    .button {
        width: 15%;
        flex-basis: 15%;
    }
    
    .button {
        margin-right: 0;
        border-radius: 10px;
        background-color: $secondary;
        color: #ffffff;
    }
}

.adt-issues-list {

    table {
        border: 1px solid #E8EDED;
        border-radius: 10px;
        overflow: hidden;
    }

    tr {
        th,
        td {
            padding: 20px;
            border-bottom: 1px solid #E8EDED;
        }

        th:first-child {
            padding-left: 20px;
        }

        th:last-child {
            padding-right: 20px;
        }

        &:last-child {
            td {
                border-bottom: none;
            }
        }
    }

    thead {
        background-color: $grey;
        font-size: 20px;

        th {
            text-transform: inherit;

            &:first-of-type {
                display: flex;
            }
        }

        .issues-open,
        .issues-closed {
            line-height: 24px;
            height: 24px;
            margin-right: 5px;
            font-weight: 400;
            display: flex;

            &::before {
                margin-right: 10px;
            }
        }

        .issues-open {
            &::before {
                content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 14.423C12.1808 14.423 12.3286 14.3657 12.4433 14.251C12.5581 14.1362 12.6155 13.9884 12.6155 13.8078C12.6155 13.6269 12.5581 13.4792 12.4433 13.3645C12.3286 13.2497 12.1808 13.1923 12 13.1923C11.8192 13.1923 11.6714 13.2497 11.5568 13.3645C11.4419 13.4792 11.3845 13.6269 11.3845 13.8078C11.3845 13.9884 11.4419 14.1362 11.5568 14.251C11.6714 14.3657 11.8192 14.423 12 14.423ZM11.5 11.4615H12.5V5.3845H11.5V11.4615ZM3 20.077V4.6155C3 4.15517 3.15417 3.77083 3.4625 3.4625C3.77083 3.15417 4.15517 3 4.6155 3H19.3845C19.8448 3 20.2292 3.15417 20.5375 3.4625C20.8458 3.77083 21 4.15517 21 4.6155V15.3845C21 15.8448 20.8458 16.2292 20.5375 16.5375C20.2292 16.8458 19.8448 17 19.3845 17H6.077L3 20.077ZM5.65 16H19.3845C19.5385 16 19.6796 15.9359 19.8078 15.8078C19.9359 15.6796 20 15.5385 20 15.3845V4.6155C20 4.4615 19.9359 4.32042 19.8078 4.19225C19.6796 4.06408 19.5385 4 19.3845 4H4.6155C4.4615 4 4.32042 4.06408 4.19225 4.19225C4.06408 4.32042 4 4.4615 4 4.6155V17.6443L5.65 16Z' fill='%23031819'/%3E%3C/svg%3E%0A");
            }

            .issues-open-count {
                margin-right: 5px;
            }
        }

        .issues-closed {
            margin-left: 30px;

            &::before {
                content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.54933 17.3078L4.58008 12.3386L5.29358 11.6251L9.54933 15.8808L18.7051 6.7251L19.4186 7.4386L9.54933 17.3078Z' fill='%23031819'/%3E%3C/svg%3E%0A");
            }

            .issues-closed-count {
                margin-right: 5px;
            }
        }
    }

    .issue-title {
        font-size: 20px;
        font-weight: 600;
        color: $text-color;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        &::before {
            content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 14.423C12.1808 14.423 12.3286 14.3657 12.4433 14.251C12.5581 14.1362 12.6155 13.9884 12.6155 13.8078C12.6155 13.6269 12.5581 13.4792 12.4433 13.3645C12.3286 13.2497 12.1808 13.1923 12 13.1923C11.8192 13.1923 11.6714 13.2497 11.5568 13.3645C11.4419 13.4792 11.3845 13.6269 11.3845 13.8078C11.3845 13.9884 11.4419 14.1362 11.5568 14.251C11.6714 14.3657 11.8192 14.423 12 14.423ZM11.5 11.4615H12.5V5.3845H11.5V11.4615ZM3 20.077V4.6155C3 4.15517 3.15417 3.77083 3.4625 3.4625C3.77083 3.15417 4.15517 3 4.6155 3H19.3845C19.8448 3 20.2292 3.15417 20.5375 3.4625C20.8458 3.77083 21 4.15517 21 4.6155V15.3845C21 15.8448 20.8458 16.2292 20.5375 16.5375C20.2292 16.8458 19.8448 17 19.3845 17H6.077L3 20.077ZM5.65 16H19.3845C19.5385 16 19.6796 15.9359 19.8078 15.8078C19.9359 15.6796 20 15.5385 20 15.3845V4.6155C20 4.4615 19.9359 4.32042 19.8078 4.19225C19.6796 4.06408 19.5385 4 19.3845 4H4.6155C4.4615 4 4.32042 4.06408 4.19225 4.19225C4.06408 4.32042 4 4.4615 4 4.6155V17.6443L5.65 16Z' fill='%23031819'/%3E%3C/svg%3E%0A");
            line-height: 24px;
            height: 24px;
            margin-right: 5px;
        }
    }

    span.issue-tag {
        font-size: 10px;
        height: 20px;
        border-radius: 10px;
        border: 1px solid #000000;
        padding: 2px 8px;
    }
}

div.data-contri-search{
    justify-content: center;
}

a.data-contri-link{
    width:180px;
}

button.download-btn{
    background-color: var(--fs-color-primary);
}